n8n/workflows/Join-email-to-task-proposal.json
{
  "name": "Join-email-to-task-proposal",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sample-from",
              "name": "from",
              "value": "Anna Stakeholder <stakeholder@example.com>",
              "type": "string"
            },
            {
              "id": "sample-subject",
              "name": "subject",
              "value": "Feature request: PDF export for board",
              "type": "string"
            },
            {
              "id": "sample-body",
              "name": "body",
              "value": "Hi team,\n\nplease add an export to PDF for the kanban board. This is important for our weekly reports.\nPriority is medium, deadline ideally end of July 2026.\n\nThanks,\nAnna",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Sample stakeholder email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 320]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 0],
      "credentials": {
        "imap": {
          "name": "Join stakeholder inbox (IMAP)"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.textHtml || '' }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "HTML to text",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "imap-from",
              "name": "from",
              "value": "={{ $('Email Trigger (IMAP)').item.json.from }}",
              "type": "string"
            },
            {
              "id": "imap-subject",
              "name": "subject",
              "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "imap-body",
              "name": "body",
              "value": "={{ $json.text || $('Email Trigger (IMAP)').item.json.textPlain || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Normalize IMAP email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You parse stakeholder emails into Kanban ticket fields for Join-Issue Collector.\n\nReturn ONLY valid JSON with these keys:\n- title (string, max 80 chars)\n- description (string)\n- category: exactly \"User Story\" or \"Technical Task\"\n- priority: exactly \"HighPriority\", \"MidPriority\", or \"LowPriority\"\n- dueDate: \"YYYY-MM-DD\" or empty string\n\nEmail from: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.body }}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Parse ticket with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [760, 160]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [760, 380],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI Join"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItem = $input.first().json;\nconst sourceNames = ['Normalize IMAP email', 'Sample stakeholder email'];\n\nlet email = null;\nfor (const name of sourceNames) {\n  try {\n    const candidate = $(name).first().json;\n    if (candidate?.from) {\n      email = candidate;\n      break;\n    }\n  } catch (_) {}\n}\n\nif (!email) {\n  throw new Error('No stakeholder email context found.');\n}\n\nlet aiText = aiItem.text ?? aiItem.response ?? aiItem.output ?? '';\nif (typeof aiText !== 'string') {\n  aiText = JSON.stringify(aiText);\n}\naiText = aiText.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiText);\n} catch (_) {\n  parsed = {\n    title: email.subject || 'Stakeholder request',\n    description: email.body || '',\n    category: 'User Story',\n    priority: 'MidPriority',\n    dueDate: '',\n  };\n}\n\nconst validCategories = new Set(['User Story', 'Technical Task']);\nconst validPriorities = new Set(['HighPriority', 'MidPriority', 'LowPriority']);\n\nconst fromRaw = String(email.from || '');\nconst creatorEmail = fromRaw.match(/<([^>]+)>/)?.[1] || fromRaw.trim();\n\nreturn [{\n  json: {\n    title: String(parsed.title || email.subject || 'Stakeholder request').trim(),\n    description: String(parsed.description || email.body || '').trim(),\n    category: validCategories.has(parsed.category) ? parsed.category : 'User Story',\n    priority: validPriorities.has(parsed.priority) ? parsed.priority : 'MidPriority',\n    dueDate: typeof parsed.dueDate === 'string' ? parsed.dueDate.trim() : '',\n    column: 'triageColumn',\n    creatorEmail,\n    creatorType: 'external',\n    aiGenerated: true,\n  },\n}];"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Build Join payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-issue-collector-70cb7.web.app/internal/n8n/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Create task in Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1260, 160],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Join X-N8N-Secret"
        }
      },
      "notes": "POST to Firebase Cloud Function via Hosting rewrite"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Sample stakeholder email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample stakeholder email": {
      "main": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "HTML to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to text": {
      "main": [
        [
          {
            "node": "Normalize IMAP email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize IMAP email": {
      "main": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse ticket with AI": {
      "main": [
        [
          {
            "node": "Build Join payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Join payload": {
      "main": [
        [
          {
            "node": "Create task in Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
