n8n/workflows/Join-email-to-task-proposal.json
{
  "name": "Join-email-to-task-proposal",
  "nodes": [
    {
      "parameters": {},
      "id": "27b5be80-5e20-4993-ad31-6196b6ce131d",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sample-from",
              "name": "from",
              "value": "Anna Stakeholder <stakeholder@example.com>",
              "type": "string"
            },
            {
              "id": "sample-subject",
              "name": "subject",
              "value": "Feature request: PDF export for board",
              "type": "string"
            },
            {
              "id": "sample-body",
              "name": "body",
              "value": "Hi team,\n\nplease add an export to PDF for the kanban board. This is important for our weekly reports.\nPriority is medium, deadline ideally end of July 2026.\n\nThanks,\nAnna",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36d3eee5-5d97-48fb-a479-ac540d84ea1e",
      "name": "Sample stakeholder email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a88c35c8-1c97-4f52-9a49-c19414395fbb",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        208,
        -32
      ],
      "credentials": {
        "imap": {
          "id": "16PaMA7I5E4Kn51O",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "imap-from",
              "name": "from",
              "value": "={{ $('Email Trigger (IMAP)').item.json.from }}",
              "type": "string"
            },
            {
              "id": "imap-subject",
              "name": "subject",
              "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "imap-body",
              "name": "body",
              "value": "={{ $('Email Trigger (IMAP)').item.json.textPlain || $('Email Trigger (IMAP)').item.json.text || $('Email Trigger (IMAP)').item.json.textHtml || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0bc3b92-3dd8-49f1-827b-8085a4e84fe5",
      "name": "Normalize IMAP email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You parse stakeholder emails into Kanban ticket fields for Join-Issue Collector.\n\nReturn ONLY valid JSON with these keys:\n- title (string, max 80 chars)\n- description (string)\n- category: exactly \"User Story\" or \"Technical Task\"\n- priority: exactly \"HighPriority\", \"MidPriority\", or \"LowPriority\"\n- dueDate: \"YYYY-MM-DD\" or empty string\n- creatorName (string: first and last name from the email signature or sender display name, never an email address)\n\nEmail from: {{ $json.from }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.body }}"
      },
      "id": "e5fdade0-3d39-4a03-8ace-f04f125d0b04",
      "name": "Parse ticket with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        768,
        160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a8fb2078-aaaf-442b-8510-8cbe04332bd0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "imnsTqSbHou6ZypR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItem = $input.first().json;\nconst sourceNames = ['Normalize IMAP email', 'Sample stakeholder email'];\n\nlet email = null;\nfor (const name of sourceNames) {\n  try {\n    const candidate = $(name).first().json;\n    if (candidate?.from) {\n      email = candidate;\n      break;\n    }\n  } catch (_) {}\n}\n\nif (!email) {\n  throw new Error('No stakeholder email context found.');\n}\n\nlet aiText = aiItem.text ?? aiItem.response ?? aiItem.output ?? '';\nif (typeof aiText !== 'string') {\n  aiText = JSON.stringify(aiText);\n}\naiText = aiText.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiText);\n} catch (_) {\n  parsed = {\n    title: email.subject || 'Stakeholder request',\n    description: email.body || '',\n    category: 'User Story',\n    priority: 'MidPriority',\n    dueDate: '',\n    creatorName: '',\n  };\n}\n\nconst validCategories = new Set(['User Story', 'Technical Task']);\nconst validPriorities = new Set(['HighPriority', 'MidPriority', 'LowPriority']);\n\nconst fromRaw = String(email.from || '');\nconst creatorEmail = fromRaw.match(/<([^>]+)>/)?.[1] || fromRaw.trim();\n\nfunction parseFromDisplayName(fromValue) {\n  const trimmed = String(fromValue || '').trim();\n  const match = trimmed.match(/^([^<]+)</);\n  if (!match) return '';\n  const name = match[1].trim().replace(/^[\"']|[\"']$/g, '');\n  return name && !name.includes('@') ? name : '';\n}\n\nfunction normalizeCreatorName(value) {\n  const name = String(value || '').trim().replace(/\\s+/g, ' ');\n  if (!name || name.includes('@')) return '';\n  return name;\n}\n\nconst creatorName =\n  normalizeCreatorName(parsed.creatorName) ||\n  parseFromDisplayName(fromRaw) ||\n  'Stakeholder';\n\nreturn [{\n  json: {\n    title: String(parsed.title || email.subject || 'Stakeholder request').trim(),\n    description: String(parsed.description || email.body || '').trim(),\n    category: validCategories.has(parsed.category) ? parsed.category : 'User Story',\n    priority: validPriorities.has(parsed.priority) ? parsed.priority : 'MidPriority',\n    dueDate: typeof parsed.dueDate === 'string' ? parsed.dueDate.trim() : '',\n    column: 'triageColumn',\n    creatorName,\n    creatorEmail,\n    creatorType: 'external',\n    aiGenerated: true,\n  },\n}];"
      },
      "id": "e464b967-5b16-4364-8c22-19ebbff4c5e4",
      "name": "Build Join payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-issue-collector-70cb7.web.app/internal/n8n/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "3566950c-5739-463b-8470-e9582418a802",
      "name": "Create task in Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HjH4uC7k7UHF6k0F",
          "name": "Header Auth account"
        }
      },
      "notes": "POST to Firebase Cloud Function via Hosting rewrite"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Sample stakeholder email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample stakeholder email": {
      "main": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Normalize IMAP email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize IMAP email": {
      "main": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse ticket with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse ticket with AI": {
      "main": [
        [
          {
            "node": "Build Join payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Join payload": {
      "main": [
        [
          {
            "node": "Create task in Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18cbe502-18f9-4154-9d83-b4f610c632a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "178e2aea3414a8776196d1eaa659ed3e085989989f4a0edffb60f4038b9bcd3b"
  },
  "nodeGroups": [],
  "id": "72o6mAWOtSNcLNjJ",
  "tags": []
}