n8n/workflows/Join-email-to-task-proposal-simple.json
{
  "name": "Join-email-to-task-proposal-simple",
  "nodes": [
    {
      "parameters": {},
      "id": "b1b2c3d4-0001-4000-8000-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sample-from",
              "name": "from",
              "value": "Anna Stakeholder <stakeholder@example.com>",
              "type": "string"
            },
            {
              "id": "sample-subject",
              "name": "subject",
              "value": "Feature request: PDF export for board",
              "type": "string"
            },
            {
              "id": "sample-body",
              "name": "body",
              "value": "Hi team,\n\nplease add an export to PDF for the kanban board. This is important for our weekly reports.\nPriority is medium, deadline ideally end of July 2026.\n\nThanks,\nAnna",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Sample stakeholder email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 280]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1b2c3d4-0003-4000-8000-000000000003",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 0],
      "credentials": {
        "imap": {
          "name": "Join stakeholder inbox (IMAP)"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.textHtml || '' }}",
        "options": {}
      },
      "id": "b1b2c3d4-0004-4000-8000-000000000004",
      "name": "HTML to text",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "imap-from",
              "name": "from",
              "value": "={{ $('Email Trigger (IMAP)').item.json.from }}",
              "type": "string"
            },
            {
              "id": "imap-subject",
              "name": "subject",
              "value": "={{ $('Email Trigger (IMAP)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "imap-body",
              "name": "body",
              "value": "={{ $json.text || $('Email Trigger (IMAP)').item.json.textPlain || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0005-4000-8000-000000000005",
      "name": "Normalize IMAP email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 0]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst fromRaw = String(email.from || '');\nconst creatorEmail = fromRaw.match(/<([^>]+)>/)?.[1] || fromRaw.trim();\nconst subject = String(email.subject || 'Stakeholder request').trim();\nconst body = String(email.body || '').trim();\nconst text = `${subject}\\n${body}`.toLowerCase();\n\nlet priority = 'MidPriority';\nif (/urgent|critical|asap|high priority|sofort|dringend/.test(text)) {\n  priority = 'HighPriority';\n} else if (/low priority|nice to have|niedrig/.test(text)) {\n  priority = 'LowPriority';\n}\n\nlet category = 'User Story';\nif (/bug|error|defect|technical|api|database|server|fix/.test(text)) {\n  category = 'Technical Task';\n}\n\nlet dueDate = '';\nconst isoMatch = text.match(/\\b(20\\d{2}-\\d{2}-\\d{2})\\b/);\nif (isoMatch) dueDate = isoMatch[1];\n\nreturn [{\n  json: {\n    title: subject.slice(0, 80),\n    description: body || subject,\n    category,\n    priority,\n    dueDate,\n    column: 'triageColumn',\n    creatorEmail,\n    creatorType: 'external',\n    aiGenerated: true,\n  },\n}];"
      },
      "id": "b1b2c3d4-0006-4000-8000-000000000006",
      "name": "Build ticket from email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 140],
      "notes": "No OpenAI — subject/body + simple keyword rules"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-issue-collector-70cb7.web.app/internal/n8n/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b1b2c3d4-0007-4000-8000-000000000007",
      "name": "Create task in Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 140],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Join X-N8N-Secret"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Sample stakeholder email", "type": "main", "index": 0 }]]
    },
    "Sample stakeholder email": {
      "main": [[{ "node": "Build ticket from email", "type": "main", "index": 0 }]]
    },
    "Email Trigger (IMAP)": {
      "main": [[{ "node": "HTML to text", "type": "main", "index": 0 }]]
    },
    "HTML to text": {
      "main": [[{ "node": "Normalize IMAP email", "type": "main", "index": 0 }]]
    },
    "Normalize IMAP email": {
      "main": [[{ "node": "Build ticket from email", "type": "main", "index": 0 }]]
    },
    "Build ticket from email": {
      "main": [[{ "node": "Create task in Triage", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
